<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="col-md-1 text-center">
      <h4>Connectors</h4>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)" id="connector">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{item}}
        </div>
      </div>
    </div>
    <div class="col-md-10 text-center">
      <h4>Console</h4>
      <div class="container-fluid">
        <div class="row">
          <div class="col text-center">
            source
            <div
              cdkDropList
              [cdkDropListData]="dropHere"
              class="example-console"
              (cdkDropListDropped)="drop($event)" id="console">
              <div class="example-box-console-source" *ngFor="let item of dropHere" cdkDrag>
                <span>
                  {{item}}
                </span>
                <span id='close' (click)="close(item)">x</span>
              </div>
            </div>
          </div>
          <div class="col text-center">
            Target
            <div
              cdkDropList
              [cdkDropListData]="erp"
              class="example-console-target"
              (cdkDropListDropped)="dropErp($event)" id="console2">
              <div class="example-box-console-target" *ngFor="let item of erp" cdkDrag>
                <span>
                   {{item}}
                </span>
                <span id='close1' (click)="closeErp(item)">x</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1  text-center">
      <h4>ERP</h4>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)" id="erp">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>

<jw-modal id="custom-modal-1">
  <h4 class="card-header">Enter Amazon MWS credentials!!</h4>
  <div class="card-body">
    <div class="form-group row">
      <label for="sellerId" class="col-sm-10 col-form-label">Seller Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sellerId" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="mwsAuthToken" class="col-sm-10 col-form-label">MWS Auth Token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="mwsAuthToken" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="awsAccessKeyId" class="col-sm-10 col-form-label">AWS Access Key Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="awsAccessKeyId" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="secretKey" class="col-sm-10 col-form-label">Secret Key</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="secretKey" placeholder="">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
      <button class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button>
    </div>
  </div>
</jw-modal>
