.example-container {
  width: 600px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  min-width: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-console {
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  min-height: 600px;
  min-width: 200px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding-top: 100px;
  padding-left: 150px;
}
.example-console-target {
  border-right: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  min-height: 600px;
  min-width: 200px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding-top: 100px;
  padding-left: 150px;
  align-items: center;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box-console-source {
  position: relative;
  padding: 10px 10px;
  max-width: 200px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  height: 200px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /*background: white;*/
  font-size: 14px;
}

.example-box-console-target {
  position: relative;
  padding: 10px 10px;
  max-width: 200px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  height: 200px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /*background: white;*/
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  /*border: none;*/
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fragment {
  font-size: 12px;
  font-family: tahoma;
  height: 140px;
  border: 1px solid #ccc;
  color: #555;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.fragment:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img {
  float: left;
  margin-right: 10px;
}


.fragment h3 {
  padding: 0;
  margin: 0;
  color: #369;
}
.fragment h4 {
  padding: 0;
  margin: 0;
  color: #000;
}
#close, #close1{
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}

#close:hover, #close1:hover {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
  color:#fff;
  cursor: pointer;
}
