/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: absolute;
    //top: 30px;
    //right: 0;
    //bottom: 0;
    //left: 30px;
    //max-width: 1000px;
    //max-height: 1000px;

    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
      padding: 50px;
      background: #fff;

      /* margin exposes part of the modal background */
      margin: 40px;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
