﻿<div class="card mt-4">
  <h4 class="card-header">You're logged in with E-Integrator!!</h4>
  <div class="card-body">
    <div class="alert alert-primary" role="alert">
      <h6>Enter Amazon MWS credentials</h6>
    </div>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <!--        <ul *ngIf="users">-->
    <!--            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>-->
    <!--        </ul>-->
    <div class="form-group row">
      <label for="sellerId" class="col-sm-2 col-form-label">Seller Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sellerId" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="mwsAuthToken" class="col-sm-2 col-form-label">MWS Auth Token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="mwsAuthToken" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="awsAccessKeyId" class="col-sm-2 col-form-label">AWS Access Key Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="awsAccessKeyId" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="secretKey" class="col-sm-2 col-form-label">Secret Key</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="secretKey" placeholder="">
      </div>
    </div>

  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
